header{
    justify-content: space-between;
    background-color: rgb(8, 8, 92);
    text-align: center;

}
.barra-navegacion {
    text-align: center;
}
.red {
    color: red;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.white {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;.
}

.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
#head-icon1 {
    width: 250px;
}
#head-icon2 {
    width: 115px;
}
/PARTE SUPERIOR DE LA WEB/

/*.titulouefa{
    float: left;
    width: 190px;
    height: 90px;
    color: white;
    margin-left: 100px;
}

.logouefa{
    float: right;
    width: 90px;
    height: 90px;
    margin-right: 80px;
}
*/
.contact{
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.hr{
    border: none;
    border-top: 2px solid black;
    width: 100%;
}
.corrupt {  
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/PARTE CENTRAL DE LA PÁGINA WEB/

body {
    margin: 10px;
    margin-top: 20px;
    padding: 0;
    background-color:  #020b69;
    color: white;
}
.container1{
    background-color: rgb(12, 12, 73);
    justify-content: space-around;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#ford {
    width: 200px;
}
#heineken {
    width: 200px;
}
#mastercard {
    width: 200px;
}
#playstation {
    width: 200px;
}
#lays {
    width: 200px;
}
#europa{
    height: 130vh;
    background-size: cover;
    margin: 0;
    padding left: ;: 10px;
    padding-right: 10px;
    background-position: center;
    background-image: url(EUROPA.jpg);
    justify-content: center;
}
.container2{
    width: 100%;
    max-width: 600px;
    margin: 0% auto;
    text-align: center;
}
.texto{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


/Parte inferior de la web/